<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Read News Article</title>
</head>
<body>
	<h3>News ID: {{news_id}}</h3>
	<h3>News Title: {{news_title}}</h3>
	<h3>Story Description: {{news_story_description}}</h3>
	<h3>Tags: {{news_tags}}</h3>
	<h3>Author: {{news_author}}</h3>
	<h3>Datetime: {{news_pub_date}}</h3>

	<form method="GET" action="/update_news/{{news_id}}">
		<input type="hidden" name="news_id" placeholder="" value="{{news_id}}">
		<button type="submit" name="update" value="Update Article">Update Article</button>
	</form>
	<form method="POST" action="/read_news/{{news_id}}">
		<input type="hidden" name="news_id" placeholder="" value="{{news_id}}">
		<button type="submit" name="delete" value="Delete Article">Delete Article</button>
	</form>
	<a href="/read">Back</a>
</body>
</html>