<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js" integrity="sha512-aVKKRRi/Q/YV+4mjoKBsE4x3H+BkegoM/em46NNlCqNTmUYADjBbeNefNxYV7giUp0VxICtqdrbqU7iVaeZNXA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<title>Search News Articles</title>
</head>
<body>
	<form action="/search" method="POST" >
		<input type="text" class="search-box"  name="search" placeholder="">
		<ul class="suggs_results"></ul>
		<script>
		  $(document).ready(function() {
			let debounce;
			$('.search-box').on('keydown', function (e) { 
			  clearTimeout(debounce)
			  debounce = setTimeout(() => {
					  getAutoComplete();  
			  }, 300);
			})
		  })

		  function getAutoComplete() {
				  const query = $('.search-box').val();
				  fetch(`/auto_suggs?q=${encodeURIComponent(query.trim())}`)
					.then((resp) => resp.json())
					.then((data) => {
							$('.suggs_results').empty();
							for (let i = 0; i < data.length; i++) {
									$('.suggs_results').append(`<li>${data[i]}</li>`)
							}
						  })
		  }
		</script>
		<input type="submit" class="btn btn-primary" name="submit" value="Search">
	</form>

</body>
</html>
