<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Update News Article</title>
</head>
<body>
	<form action="/update_news/{{news_id}}" method="POST" >
		<label for="id">News ID:</label><br>
		<input type="text" id="id" name="id" value="{{news_id}}" required><br>
		<label for="title">News Title:</label><br>
		<input type="text" id="title" name="title" value="{{news_title}}" required><br>
		<label for="story">Story Desciption:</label><br>
		<textarea id="story" name="story" required>{{news_story_description}}</textarea><br>
		<label for="tags">Tags:</label><br>
		<input type="text" id="tags" name="tags" value="{{news_tags}}" required><br>
		<label for="author">News Author:</label><br>
		<input type="text" id="author" name="author" value="{{news_author}}" required><br>
		<label for="datetime">Datetime:</label>
		<input type="datetime-local" id="datetime" name="datetime" step="1" value="{{news_pub_date}}" required><br>
		<input type="hidden" name="es_news_doc_id" value="{{es_news_doc_id}}">
		<input type="submit" name="submit" value="Update">
	</form>
</body>
</html>